*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar #-json-lib-2.4-jdk15.jar -gson-2.2.3.jar
*.war
*.ear
#otros
/aserradero/dist/
/aserradero/build/
aserradero/src/java/dao/Conexion.java
/aserradero/nbproject/build-impl.xml
/aserradero/nbproject/genfiles.properties
/aserradero/nbproject/private/private.properties
/aserradero/nbproject/private/private.xml
/aserradero/nbproject/project.properties
/aserradero/nbproject/project.xml

