<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/sesion/login.jsp</welcome-file>
        <!--        <welcome-file>/inicio/inicio.jsp</welcome-file>-->
    </welcome-file-list>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>controlador.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>controlador.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MunicipioController</servlet-name>
        <servlet-class>controlador.registros.MunicipioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocalidadController</servlet-name>
        <servlet-class>controlador.registros.LocalidadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonaController</servlet-name>
        <servlet-class>controlador.registros.PersonaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteController</servlet-name>
        <servlet-class>controlador.registros.ClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpleadoController</servlet-name>
        <servlet-class>controlador.empleado.EmpleadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaController</servlet-name>
        <servlet-class>controlador.venta.VentaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaExtraController</servlet-name>
        <servlet-class>controlador.venta.VentaExtraController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaMayoreoController</servlet-name>
        <servlet-class>controlador.venta.VentaMayoreoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentaPaqueteController</servlet-name>
        <servlet-class>controlador.venta.VentaPaqueteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorController</servlet-name>
        <servlet-class>controlador.registros.ProveedorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaderaAserradaClasifController</servlet-name>
        <servlet-class>controlador.maderaAserrada.MaderaAserradaClasifController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClasificacionMaderaRolloController</servlet-name>
        <servlet-class>controlador.maderaRollo.ClasificacionMaderaRolloController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntradaMaderaAserradaController</servlet-name>
        <servlet-class>controlador.maderaAserrada.EntradaMaderaAserradaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoRentaController</servlet-name>
        <servlet-class>controlador.gasto.PagoRentaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoLuzController</servlet-name>
        <servlet-class>controlador.gasto.PagoLuzController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntradaMaderaRolloController</servlet-name>
        <servlet-class>controlador.maderaRollo.EntradaMaderaRolloController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehiculoController</servlet-name>
        <servlet-class>controlador.registros.bienesInmuebles.VehiculoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CostoMaderaEntradaController</servlet-name>
        <servlet-class>controlador.maderaRollo.ClasificacionMaderaRolloController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventarioMaderaRolloController</servlet-name>
        <servlet-class>controlador.maderaRollo.InventarioMaderaRolloController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtroGastoController</servlet-name>
        <servlet-class>controlador.gasto.OtroGastoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaPorCobrarController</servlet-name>
        <servlet-class>controlador.anticipo.CuentaPorCobrarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CuentaPorPagarController</servlet-name>
        <servlet-class>controlador.anticipo.CuentaPorPagarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnticipoClienteController</servlet-name>
        <servlet-class>controlador.anticipo.AnticipoClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnticipoProveedorController</servlet-name>
        <servlet-class>controlador.anticipo.AnticipoProveedorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventarioMaderaAserradaController</servlet-name>
        <servlet-class>controlador.maderaAserrada.InventarioMaderaAserradaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoEmpleadoController</servlet-name>
        <servlet-class>controlador.empleado.PagoEmpleadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoEntradaMaderaRolloController</servlet-name>
        <servlet-class>controlador.PagoEntradaMaderaRolloController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorController</servlet-name>
        <servlet-class>controlador.empleado.AdministradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalidaMaderaRolloController</servlet-name>
        <servlet-class>controlador.maderaRollo.SalidaMaderaRolloController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrestamoController</servlet-name>
        <servlet-class>controlador.prestamo.PrestamoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VentasAjaxController</servlet-name>
        <servlet-class>controlador.venta.VentasAjaxController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoCompraController</servlet-name>
        <servlet-class>controlador.maderaRollo.PagoCompraController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagoPrestamoController</servlet-name>
        <servlet-class>controlador.prestamo.PagoPrestamoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TerrenoController</servlet-name>
        <servlet-class>controlador.registros.bienesInmuebles.TerrenoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/Iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MunicipioController</servlet-name>
        <url-pattern>/MunicipioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocalidadController</servlet-name>
        <url-pattern>/LocalidadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonaController</servlet-name>
        <url-pattern>/PersonaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteController</servlet-name>
        <url-pattern>/ClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpleadoController</servlet-name>
        <url-pattern>/EmpleadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaController</servlet-name>
        <url-pattern>/VentaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaExtraController</servlet-name>
        <url-pattern>/VentaExtraController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaMayoreoController</servlet-name>
        <url-pattern>/VentaMayoreoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentaPaqueteController</servlet-name>
        <url-pattern>/VentaPaqueteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorController</servlet-name>
        <url-pattern>/ProveedorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaderaAserradaClasifController</servlet-name>
        <url-pattern>/MaderaAserradaClasifController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClasificacionMaderaRolloController</servlet-name>
        <url-pattern>/ClasificacionMaderaRolloController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntradaMaderaAserradaController</servlet-name>
        <url-pattern>/EntradaMaderaAserradaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoRentaController</servlet-name>
        <url-pattern>/PagoRentaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoLuzController</servlet-name>
        <url-pattern>/PagoLuzController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntradaMaderaRolloController</servlet-name>
        <url-pattern>/EntradaMaderaRolloController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehiculoController</servlet-name>
        <url-pattern>/VehiculoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CostoMaderaEntradaController</servlet-name>
        <url-pattern>/CostoMaderaEntradaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventarioMaderaRolloController</servlet-name>
        <url-pattern>/InventarioMaderaRolloController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtroGastoController</servlet-name>
        <url-pattern>/OtroGastoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaPorCobrarController</servlet-name>
        <url-pattern>/CuentaPorCobrarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CuentaPorPagarController</servlet-name>
        <url-pattern>/CuentaPorPagarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnticipoClienteController</servlet-name>
        <url-pattern>/AnticipoClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnticipoProveedorController</servlet-name>
        <url-pattern>/AnticipoProveedorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventarioMaderaAserradaController</servlet-name>
        <url-pattern>/InventarioMaderaAserradaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoEmpleadoController</servlet-name>
        <url-pattern>/PagoEmpleadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoEntradaMaderaRolloController</servlet-name>
        <url-pattern>/PagoEntradaMaderaRolloController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorController</servlet-name>
        <url-pattern>/AdministradorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalidaMaderaRolloController</servlet-name>
        <url-pattern>/SalidaMaderaRolloController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrestamoController</servlet-name>
        <url-pattern>/PrestamoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VentasAjaxController</servlet-name>
        <url-pattern>/VentasAjaxController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoCompraController</servlet-name>
        <url-pattern>/PagoCompraController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagoPrestamoController</servlet-name>
        <url-pattern>/PagoPrestamoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TerrenoController</servlet-name>
        <url-pattern>/TerrenoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
